  <li ng-controller="ImportFile as importFile">
    <a class="linked" ng-click="choose()">
      <span>Markdown File</span>
    </a>
  </li>

  <li ng-controller="ImportFile as importFile">
    <a class="linked" ng-click="choose('html')">
      <span>HTML File</span>
    </a>
  </li>
