<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!--

  Powered by:

  '||''''|
   ||  .   ... ...... ...... ..   ....  ....  ....
   ||''|    '|..'  ||'  ||||' ''.|...||||. ' ||. '
   ||        .|.   ||    |||    ||     . '|... '|..
  .||.....|.|  ||. ||...'.||.    '|...'|'..|'|'..|'
                   ||
                   ||

  Node.js version <%= node_version %>

  Dillinger version <%= dillinger_version %>

  -->

  <!-- Spiders must use meta description -->
  <meta name="robots" content="noodp, noydir">

  <!-- Viewport and mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="/css/app.css" rel="stylesheet">

</head>
<body ng-controller="Base" file-import-drop-target>

  <input type="file" accept=".md,.markdown,text/html" file-import-choose-file />

  <form method="POST" id="downloader">
    <input type="hidden" name="name">
    <input type="hidden" name="unmd">
    <input type="hidden" name="formatting">
    <input type="hidden" name="preview">
  </form>

  <%- include splashscreen %>

  <%- include dropdowns/settings %>

  <div class="wrapper">
    <%- include sidebar %>
    <%- include notification %>
    <div class="page">
      <%- include navbar %>
      <%- include overlay %>
      <%- include title %>
      <div class="g mnone">
        <%- include editor-headers %>
        <%- include editor %>
        <%- include preview %>
      </div>
    </div>
  </div>

  <%- include footer %>
</body>
</html>
